.playground {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playground input[type="text"] {
  width: 80%;
  height: 1.1em;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  margin-bottom: 1em;
  font-style: italic;
  letter-spacing: 0.05rem;
}

.playground h4 {
  margin-top: 1em;
  align-self: start;
}

.playground input[type="text"]::placeholder {
  color: black;
  letter-spacing: 1px;
}

.playground label {
  display: block;
  margin-bottom: 0.3em;
}

.playground select {
  margin-bottom: 1em;
}

.playground section {
  width: 100%;
}

.inputBox {
  color: #29306c;
}

.keyBox {
  color: #f07725;
}

.outputBox {
  color: #53a446;
  background-color: #f4f3f3;
}

.inputBox:hover {
  outline: 1px solid #29306c;
}

.inputBox:focus,
.inputBox:active {
  outline: 3px solid #29306c;
}

.keyBox:hover {
  outline: 1px solid #f07725;
}

.keyBox:focus,
.keyBox:active {
  outline: 3px solid #f07725;
}

.outputBox,
.outputBox:hover,
.outputBox:focus,
.outputBox:active {
  outline: none;
}

/* Ceaser shift specific */
.ceaserShiftContainer .letters-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.ceaserShiftContainer .row {
  display: flex;
}

.ceaserShiftContainer .letter {
  width: 3em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.01em solid #ccc;
  font-size: 0.9em;
}

.ceaserShiftContainer input[type="range"] {
  width: 80%;
  margin-bottom: 20px;
  accent-color: #f07725;
}

.ceaserShiftContainer #textInput {
  text-transform: uppercase;
}

.ceaserShiftContainer #textInput::placeholder {
  text-transform: none;
}

.ceaserShiftContainer #originalLettersContainer {
  color: #29306c;
}

.ceaserShiftContainer #encodedLettersContainer {
  color: #f07725;
}

@media only screen and (max-width: 1200px) {
  .ceaserShiftContainer .letter {
    font-size: 0.7em;
  }
}

/* Frequency analyzer specific */
.frequencyAnalyzerContainer table {
  border-collapse: collapse;
  width: 40%;
  max-width: 30em;
}

.frequencyAnalyzerContainer th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 0.3em;
  font-size: 0.9em;
}

.frequencyAnalyzerContainer thead th {
  background-color: #f4f3f3;
  font-size: 0.9em;
}

.frequencyAnalyzerContainer #tableSymbol {
  color: #29306c;
}

.frequencyAnalyzerContainer #tableFrequency {
  color: #f07725;
}

.frequencyAnalyzerContainer td:first-child {
  font-style: italic;
  color: #29306c;
}

/* Bit key specific */
.bitKeyContainer #textToASCII,
.bitKeyContainer #ASCIIToBinary {
  color: #29306c;
}
