body {
  color: #3b3f41;
  font-size: 1.1875em;
  font-family: roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
}

article {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  position: relative;
}

.content {
  width: 66.666%;
}

aside {
  width: 25%;
}

p {
  margin: 1em auto;
  font-size: 1em;
  line-height: 1.5em;
}

h1 {
  font-size: 1.8em;
}

h2 {
  margin: 1.65em 0 0 0;
  font-size: 1.5em;
}

h3 {
  margin: 1.5em 0 0 0;
  font-size: 1.1em;
}

mark {
  background: none;
}

.significant {
  font-style: italic;
  padding: 0.1em;
  letter-spacing: 0.05rem;
}

.blue,
h1,
h3 {
  color: #29306c;
}

.orange,
h2,
h4 {
  color: #f07725;
}

.green {
  color: #53a446;
}

.bold {
  font-weight: 600;
}

label {
  display: block;
  margin-bottom: 5px;
}

select {
  margin-bottom: 1em;
}

/* References */
sup {
  vertical-align: top;
  position: relative;
  top: -0.5em;
  font-size: 0.7em;
}

#references-ordered-list {
  counter-reset: list-counter;
  list-style: none;
}

#references-ordered-list li {
  counter-increment: list-counter;
  margin-bottom: 0.5em;
}

#references-ordered-list li::before {
  content: "[" counter(list-counter) "]";
  margin-right: 0.5em;
}

ul {
  list-style-type: none;
}

/* Side bar stuff */
aside img {
  max-width: 80%;
  height: auto;
  margin: 0.5em 0 0 0;
}

aside h3 {
  color: #f07725;
}

aside ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

aside li {
  margin-bottom: 0.5em;
}

#author-name {
  margin-top: 0.5em;
  font-weight: bold;
  font-size: 1.1em;
  color: #29306c;
}

a:link,
a:visited {
  color: #29306c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Small screens adjusting*/
@media only screen and (max-width: 900px) {
  article {
    flex-direction: column;
    padding: 1em;
  }

  .content,
  aside {
    width: 100%;
  }

  aside img {
    max-width: 40%;
    height: auto;
    margin: 0.5em 0 0 0;
  }
}
